<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    
    <link rel="stylesheet" href="/loggin.css" />
  </head>

  <body>
    <button><a href="/">Volver a la página de listado</a></button>
    <h1>Crear una Pelicual</h1>
    <form action="/movies/createMovies" method="POST">
      <div>
        <label for="title">Agregue el título de la Peícula</label>
        <input type="text" name="title" id="title" value="<%= locals.old && old.title %>"/>
        <% if (locals.errors && errors.title) { %>
        <p class="text"><%= errors.title.msg %></p>
        <% } %>
      </div>
      
      
      <div>

        <label for="rating">Ingres el rating de la Película</label>
      
        <input type="number" name="rating" id="rating" value="<%= locals.old && old.rating %>"/>
        <% if (locals.errors && errors.rating) { %>
        <p class="text"><%= errors.rating.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="awards">Ingrese los premios ganados</label>
        <input type="number" name="awards" id="awards" value="<%= locals.old && old.awards %>"/>
        <% if (locals.errors && errors.awards) { %>
        <p class="text"><%= errors.awards.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="release_date">Ingrese la fecha en la que se estrenó</label>
        <input type="date" name="release_date" id="release_date" value="<%= locals.old && old.release_date %>"/>
        <% if (locals.errors && errors.release_date) { %>
        <p class="text"><%= errors.release_date.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="length">Ingrese el tieompo de duración</label>
        <input type="number" name="length" id="length" value="<%= locals.old && old.length %>"/>
        <% if (locals.errors && errors.length) { %>
        <p class="text"><%= errors.length.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="">Ingrese el género al que pertenece</label>
        <select name="genre">
          <% for (let i=0; i < genre.length; i++) { %>
          <option value="<%= genre[i].id %>"><%= genre[i].name %></option>
          <% } %>
        </select>
      </div>

      <button type="submit">Crear la Película</button>
      <button type="reset">Cancelar la creación</button>
    </form>

   
  </body>
</html>
