<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/loggin.css" />
  </head>
  <body>
    <button><a href="/">Volver a la página de listado</a></button>
    <section>
      <h1>Informaciòn de la Pelicula</h1>
      <article>
        <p>Título de la Película: <%= detail.title %></p>
        <p>Rating de la Pelicula: <%= detail.rating %></p>
        <p>Premios ganados: <%= detail.awards %></p>
        <p>Fecha de estreno: <%= detail.release_date %></p>
        <p>Duración: <%= detail.length %></p>
        <p>Género: <%= detail.genre.name %></p>
        <p>Actores presentes en la película:</p>
        <ul>
          <% for (let i=0; i < detail.actors.length; i++) { %>
          <li>
            <%= detail.actors[i].first_name %> <%= detail.actors[i].last_name %>
          </li>
          <% } %>
        </ul>
      </article>
    </section>
    <section>
      <% if (!locals.user) { %>
      <p1>Por favor logueese </p1>

      <% } else { %>
      <button>
        <a href="/movies/deleteMovies/<%= detail.id %>">Eliminar película</a>
      </button>
      <button>
        <a href="/movies/editMovies/<%= detail.id %>">Modificar Película</a>
      </button>
      
      <% } %>
    </section>
  </body>
</html>
